name: swift_conquer_game
description: SwiftConquer RTS
publish_to: 'none'

environment:
  sdk: ">=3.3.0 <4.0.0"

dependencies:
  flame: ^1.34.0
  flutter:
    sdk: flutter

flutter:
  uses-material-design: true
  assets:
    - assets/


dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0
