name: swiftconquer
description: SwiftConquer RTS Core Shell
version: 1.0.0+1

environment:
  sdk: '>=3.2.0 <4.0.0'

dependencies:
  flutter:
    sdk: flutter
  flame: ^1.18.0

flutter:
  uses-material-design: true
  assets:
    - assets/images/
    - assets/sfx/
