name: Flutter Clean Build

on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Install Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.24.3'
        channel: 'stable'

    - name: Install dependencies
      run: |
        cd swift_clean
        flutter pub get

    - name: Build release APK
      run: |
        cd swift_clean
        flutter build apk --release

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: SwiftClean-APK
        path: swift_clean/build/app/outputs/flutter-apk/app-release.apk

